@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

html {
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --pink: #F9EFDB;
    --cream: #EBD9B4;
    --green: #9DBC98;
    --blue: #638889;
  
    font-family: 'Salsa', cursive;
    width: 100vw;
  
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(90deg, #f9efdb, #e2a298);
    background-attachment: fixed;
}

/* THIS IS HEADER AREA */
.header {
    width: 80vw;
    height: 100px;
    background-color: var(--green);
    position: fixed;
    left: 8.5em;
    margin: auto;
  
    display: flex;
    justify-content: space-around;
}
.logo {
    height: 100px;
    margin-left: -100px;
}
.nav_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 55px;
    margin-right: -100px;
}
.nav_list li {
    background-image: linear-gradient(135deg, #638889, #86d472);
    border-radius: 6px;
    display: block;
    height: 40px;
    font-size: 1.5em;
    font-weight: 600;
    position: relative;
    width: 5em;
    z-index: 2;
}
.nav_list li a {
    text-decoration: none;
    color: var(--blue);
    align-items: center;
    background: var(--green);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}
.nav_list li a:hover {
    background: transparent;
    color: var(--cream);
}

/* END OF HEADER AREA */
/* MAIN SECTION */
.main_content {
    width: 80vw;
    background-color: var(--pink);
    position: relative;
  
    display: grid;
    margin: auto;
    z-index: -1;
}
/* Hero Section */
#hero_sec {
    width: 100%;
    height: 84vh;
    position: relative;
}
.hero_container {
    width: 80vw;
    height: 90vh;
    background: url(images/hero_image.png) no-repeat;
    position: relative;
    bottom: 78%;
    background-size: 90vw 110vh;
    background-attachment: fixed;
    z-index: -1;
}
.texts {
    position: relative;
    width: 80%;
    height: 19em;
    z-index: 2;
    top: 20%;
    left: 5%;
    font-size: 1.3em;
    color: #3E3232;
  }
.heading1 {
    font-size: 2.5em;
    height: 200px;
    width: 60%;
    text-align: center;
    padding-top: 80px;
    color: #3E3232;
    
}  
.p1 {
    height: 80px;
    width: 70%;
    text-align: center;
    /* border: 1px solid black; */
    padding-top: 20px;
    font-size: 1.2em;
    color: #3E3232;
}  
.span1 {
    font-size: 1.5em;
    color: #3E3232;
}

/* Profile Section */
/* .Profile {
    width: 100%;
    height: 30em;
    padding-top: 85px;
} */
.heading2 {
    font-size: 3em;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    color: #3E3232;

    display: inline-block;
}
.underline {
    width: 75%;
    height: 8px;
    position: relative;
    left: 17em;
    bottom: 3em; 
    background-image: linear-gradient(to right, var(--blue), var(--pink));
    border-radius: 5px;
}
.parag {
    color: #3E3232;
    width: 90%;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.2em;
  }
.about {
    display: flex;
    width: 100%;
}
.aboutMe {
    width: 50%;
}
.award {
    padding:  0 100px;
}
.award h4 {
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 5px;
    color: #3E3232;
    
}
.award img {
    width: 21em;
    height: 13em;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 15px;
    filter: brightness(60%);
}

#h3 {
    font-size: 2em;
    margin-top: 50px;
    color: #3E3232;
    text-align: center;

}

.development {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    width: 100%;
    margin-top: 20px;

    position: relative;
}
.dev1, .dev3 {
    position: relative;
    top: 35%;
}
.heading3 {
    font-size: 1.5em;
    text-align: center;
    color: #3E3232;
}
.icons {
    width: 140px;
    height: 100px;
}
.icon1 {
    display: flex;
    margin: auto;
    margin-top: 30px;
}
.toGrid {
    padding-left: 50px;
}
.icon3 {
    margin-left: 75px;
}

/* Project Section */
.images {
    display: flex;
    width: 100%;
}
.proj {
    /* border: 1px solid black; */
    width: 50%;
    margin-top: 20px;
}
.texts1 {
    display: flex;
    width: 100%;
    color: #3E3232;
}
.p {
    /* border: 1px solid black; */
    width: 50%;
    text-align: center;
    font-size: 1.3em;

    position: relative;
    bottom: 1em;
    color: #3E3232;
}


/* CONTACT INFO */
#con {
    font-size: 2em;
    text-align: center;
    color: #3E3232;
}
#tact {
    font-size: 1.2em;
    text-align: center;
    color: #3E3232;
}
#sign {
    width: 30em;
    position: relative;
    left: 24em;
    margin: 30px 0 50px 0;
    box-shadow: 3px 3px 5px gray;
}

footer {
    width: 80vw;
    height: 40px;
    background-color: var(--blue);
    position: relative;
  
    display: grid;
    margin: auto;
}
footer p{
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    color: var(--pink);
}



